.input-field label {
  left: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  90%, 100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  90%, 100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
@-ms-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  90%, 100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
@-o-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  90%, 100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  90%, 100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  90%, 100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }
@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  90%, 100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }
@-ms-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  90%, 100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }
@-o-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  90%, 100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }
@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  90%, 100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  90%, 100% {
    opacity: 1;
    transform: none; } }
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  90%, 100% {
    opacity: 1;
    transform: none; } }
@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  90%, 100% {
    opacity: 1;
    transform: none; } }
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  90%, 100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  90%, 100% {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  90%, 100% {
    opacity: 1;
    transform: none; } }
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  90%, 100% {
    opacity: 1;
    transform: none; } }
@-ms-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  90%, 100% {
    opacity: 1;
    transform: none; } }
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  90%, 100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  90%, 100% {
    opacity: 1;
    transform: none; } }
.fadeOutLeft {
  animation: fadeOutLeft 1s; }

.fadeOutRight {
  animation: fadeOutRight 1s; }

.fadeInLeft {
  animation: fadeInLeft 1s; }

.fadeInRight {
  animation: fadeInRight 1s; }

.hidden {
  display: none; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #C18CBE;
  background: -moz-linear-gradient(top, #C18CBE 0%, #A3DED7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C18CBE), color-stop(100%, #A3DED7));
  background: -webkit-linear-gradient(top, #C18CBE 0%, #A3DED7 100%);
  background: -o-linear-gradient(top, #C18CBE 0%, #A3DED7 100%);
  background: -ms-linear-gradient(top, #C18CBE 0%, #A3DED7 100%);
  background: linear-gradient(to bottom, #C18CBE 0%, #A3DED7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C18CBE', endColorstr='#A3DED7',GradientType=0 ); }
  main #user-settings {
    margin: 0;
    padding: 30px;
    border-radius: 5px;
    width: 700px;
    text-align: center; }
    main #user-settings .col {
      text-align: left; }
    main #user-settings .input-field, main #user-settings h6 {
      margin-bottom: 30px; }
    main #user-settings .switch {
      margin-bottom: 55px; }
    main #user-settings .switch-label {
      display: inline-block;
      min-width: 140px;
      color: #7B7B7B; }
    main #user-settings #difficulty-selection {
      position: relative;
      left: 85px; }
      main #user-settings #difficulty-selection p label {
        color: #7B7B7B; }

/*# sourceMappingURL=main.css.map */
