.input-field label {
  left: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

@-webkit-keyframes fadeCardToWhite {
  0% {
    background-color: #2bbbad; }
  15% {
    background-color: #2bbbad; }
  100% {
    background-color: white; } }
@-moz-keyframes fadeCardToWhite {
  0% {
    background-color: #2bbbad; }
  15% {
    background-color: #2bbbad; }
  100% {
    background-color: white; } }
@-ms-keyframes fadeCardToWhite {
  0% {
    background-color: #2bbbad; }
  15% {
    background-color: #2bbbad; }
  100% {
    background-color: white; } }
@-o-keyframes fadeCardToWhite {
  0% {
    background-color: #2bbbad; }
  15% {
    background-color: #2bbbad; }
  100% {
    background-color: white; } }
@keyframes fadeCardToWhite {
  0% {
    background-color: #2bbbad; }
  15% {
    background-color: #2bbbad; }
  100% {
    background-color: white; } }
html {
  height: 100vh; }

body {
  overflow-x: hidden;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #ADE6E1;
  transition: 0.5s;
  background-attachment: fixed; }

#main-card {
  border-radius: 5px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px; }

#user-settings {
  margin: 0;
  padding: 30px;
  border-radius: 5px;
  width: 700px;
  max-width: 95vw;
  text-align: center;
  transition: 0.5s;
  height: 90vh;
  max-height: 510px; }
  #user-settings .btn {
    position: relative; }
  #user-settings .col {
    text-align: left; }
  #user-settings .input-field, #user-settings h6 {
    margin-bottom: 30px; }
  #user-settings .switch {
    margin-bottom: 55px; }
  #user-settings .switch-label {
    display: inline-block;
    min-width: 140px;
    color: #7B7B7B; }
  #user-settings #difficulty-selection {
    position: relative;
    left: 85px; }
    #user-settings #difficulty-selection p label {
      color: #7B7B7B; }

#user-settings.hidden {
  max-height: 0;
  padding: 0; }
#user-settings.controls-hidden {
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }
  #user-settings.controls-hidden * {
    transition: 0.3s; }
    #user-settings.controls-hidden *:not(.btn) {
      opacity: 0; }
  #user-settings.controls-hidden .btn {
    background-color: #2bbbad;
    pointer-events: none; }
    #user-settings.controls-hidden .btn::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -1230px;
      left: -1140px;
      background-color: inherit;
      border-radius: 100%;
      height: 2500px;
      width: 2500px;
      transition: transform 1s;
      transform: scale(0.005); }
    #user-settings.controls-hidden .btn.growing::after {
      transform: scale(1);
      background-color: white;
      animation: fadeCardToWhite 1s; }

#generated-dungeon {
  padding: 30px;
  padding-bottom: 10px;
  max-height: 70vh;
  overflow: auto;
  opacity: 1;
  transition: 0.6s; }
  #generated-dungeon.hidden {
    opacity: 0;
    max-height: 0;
    width: 100%;
    padding: 0; }
  #generated-dungeon .row {
    margin-bottom: 0; }
  #generated-dungeon .col {
    padding-left: 0; }
  #generated-dungeon h4 {
    margin-top: -10px;
    font-size: 50px;
    font-weight: 100; }
  #generated-dungeon h5 {
    color: #A9A9A9;
    margin-left: 3px;
    font-size: 18px;
    font-style: italic; }
  #generated-dungeon h6 {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 0;
    padding: 15px 5px;
    border-bottom: 1px solid #d0d0d0; }
  #generated-dungeon #traps-list, #generated-dungeon #monsters-list {
    margin-top: 0;
    margin-bottom: 0; }
    #generated-dungeon #traps-list li a, #generated-dungeon #monsters-list li a {
      color: black;
      padding: 15px 5px;
      display: block;
      transition: 0.3s; }
      #generated-dungeon #traps-list li a:hover, #generated-dungeon #monsters-list li a:hover {
        background-color: #f2f2f2; }

table.monster-table, table.trap-table {
  margin-top: 20px; }
  table.monster-table td, table.trap-table td {
    padding: 0; }
    table.monster-table td a, table.trap-table td a {
      transition: 0.3s;
      color: black;
      display: block;
      padding: 15px 5px; }
      table.monster-table td a:hover, table.trap-table td a:hover {
        color: #039be5; }

/*# sourceMappingURL=main.css.map */
